@import 'src/sass/_responsiveMixins';

.parallax {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.title {
		z-index: 1;
		font-size: 100px;
		color: #fff;
		text-align: center;

		@include mobile {
			font-size: 70px;
		}
	}

	.mountains,
	.planets,
	.stars {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.mountains,
	.planets {
		@include mobile {
			background-size: contain !important;
			background-repeat: no-repeat !important;
		}
	}

	.mountains {
		z-index: 2;
	}

	.planets {
		z-index: 1;
	}

	.stars {
		background-image: url(stars.png);
		background-position: 'bottom';
		background-size: 'cover';
	}
}
