.parallax {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.title {
		z-index: 1;
		font-size: 100px;
		color: #fff;
	}

	.mountains,
	.planets,
	.stars {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.mountains {
		z-index: 2;
	}

	.planets {
		z-index: 1;
	}

	.stars {
		background-image: url(stars.png);
		background-position: 'bottom';
		background-size: 'cover';
	}
}
