@import 'src/sass/_responsiveMixins';

@mixin titleButtonShape {
	width: 300px;
	height: 100px;
	border-radius: 50px;
}

.services {
	background: linear-gradient(180deg, #0c0c1d, #111132);
	padding: 30px 0;

	.contentContainer {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		overflow: auto;

		@include mobile {
			gap: 20px;
			justify-content: center;
		}

		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		.textContainer {
			display: flex;
			align-self: flex-end;
			align-items: center;
			text-align: right;
			font-weight: 200;
			gap: 20px;

			@include mobile {
				display: none;
			}

			p {
				color: gray;
			}

			hr {
				width: 200px;
				border: none;
				border-top: 0.5px solid gray;
			}
		}

		.titleContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			max-width: 1000px;
			flex-wrap: wrap;
			user-select: none;

			.title {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 40px;

				@include tablet {
					flex-direction: column;
					text-align: center;
					gap: 20px;
				}

				img {
					@include titleButtonShape();
					object-fit: cover;

					@include mobile {
						width: 200px;
						height: 50px;
					}
				}

				h2 {
					font-size: 3.5rem;
					font-weight: 100;
					text-transform: capitalize;

					@include tablet {
						font-size: 46px;
					}

					@include mobile {
						font-size: 36px;
					}

					strong:hover {
						color: orange;
						transition: all 0.2s ease-in;
					}
				}

				.titleButton {
					@include titleButtonShape();
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: orange;
					color: #000;
					font-size: 30px;
					text-transform: uppercase;

					@include mobile {
						width: 200px;
						height: 50px;
						font-size: 20px;
					}
				}
			}
		}

		.listContainer {
			font-size: 14px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			@include mobile {
				flex-direction: column;
			}

			.item {
				max-width: 272px;
				padding: 30px;
				border: 1px solid gray;
				display: flex;
				flex-direction: column;
				gap: 10px;
				text-align: justify;
				transition: all 0.1s ease-in;

				@include mobile {
					border: none;
					padding: 10px;
				}

				h3 {
					font-size: 20px;
					text-align: center;

					@include mobile {
						font-size: 26px;
					}
				}

				p {
					@include mobile {
						display: none;
					}
				}

				button {
					background-color: orange;
					color: #000;
					padding: 8px;
					transition: all 0.2s ease-in;

					@include mobile {
						background-color: transparent;
						color: orange;
						border: 1px solid orange;
						border-radius: 5px;
						min-width: 200px;
					}
				}

				button:hover {
					scale: 1.1;
				}
			}
		}
	}
}
