.homepage {
	background: linear-gradient(180deg, #0c0c1d, #111132);

	.contentContainer {
		position: relative;
		height: calc(100dvb - 66.4px);

		.textContainer {
			max-width: 800px;
			display: flex;
			height: 100%;
			flex: 1.3;
			flex-direction: column;
			justify-content: center;
			gap: 35px;

			.subtitle {
				text-transform: uppercase;
				letter-spacing: 8px;
			}

			.buttonsContainer {
				display: flex;
				gap: 20px;
			}

			.scroll {
				height: 50px;
				width: 50px;
			}
		}

		.imageContainer {
		}

		.image {
			position: absolute;
			right: 0;
			bottom: 0;
			max-height: 100%;
		}
	}
}
