@use 'src/sass/_variables' as variables;
@import 'src/sass/_reset.scss';

/* GLOBAL STYLES */

html {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	background-color: #0c0c1d;
	color: variables.$text-color;
}

.container {
	max-width: 1366px;
	margin: 0 auto;
	padding: 0 20px;
	height: 100%;
}

h1 {
	font-size: variables.$heading;
}

h2 {
	font-size: variables.$subheading;
}
